body{
	font-family: sans-serif;
	font-size: 1.1em;
	color: #565656;
	margin: 1em;
}

a{
	color: #565656 !important;
}

li a{
	margin-right: 0.5em;
}

.date{
	display: inline-block;
	width: 10em;
	margin-left: 1em;
}